:root {
    --font-basic:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color:darkgray;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    /* overflow: hidden; */
    background-image: url('./table.jfif');
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    /* background-attachment: fixed; */
    z-index: -10;
}

.container-warning{
    position: absolute;
    height: 100px;
    width: 300px;
/*     height: 100%;
    width: 100%; */
    /* background-color:darkgray; */
    left: 50%;
    top: 37.5%;
    transform: translateX(-50%);
    /* transform: translateY(-50%); */

    /* color: aliceblue; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
    /* height: 10%; */

}

.warning {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
    /* height: 10%; */
}

.button {
    height: 35px;
    width: 110px;
    background: transparent;
    border-radius: 10px;
    border: solid 2px aliceblue;
    color: aliceblue;
    /* margin: 0; */
    /* padding: 0; */
    font-family:var(--font-basic);
    letter-spacing: .04rem;
    cursor: pointer;
}

.bust, .won, .tie {
    display: none;
}
label {
    margin: 20px;
}
.tableContainer {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    position: absolute;
    height: 80%;
    /* width: 500px; */
    width: 100%;
    /* background-color:rgb(128, 77, 0); */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-around; */

    align-items: center;
    color: aliceblue;
    font-family:var(--font-basic);
    letter-spacing: .04rem;
}

.cardsContainer {

    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgb(0, 51, 128); */

}



.dealerContainer {
    display: block;
    justify-content: center;
}


.buttonsContainer {
    /* position: relative; */
    position: absolute;
    bottom: -5%;
    display: none;
    justify-content: center;
    /* justify-items: center; */
    height: 20%;
    width: 100%;
    /* background-color:rgb(0, 128, 0); */
}

.card {
    width: 80px;
    /* margin-left: -40px; */
    /* filter: blur(2px); */
}

.cardback {
    text-align: center;
    border-radius: 4px;
    width: 78px;
}
@media (min-width: 768px) {
    .card {
        width: 100px;
        /* margin-left: -40px; */
        /* filter: blur(2px); */
    }
    
    .cardback {
        text-align: center;
        border-radius: 4px;
        width: 98px;
    }
}